<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Permission</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eloginvalidation</display-name>
    <servlet-name>Eloginvalidation</servlet-name>
    <servlet-class>Eloginvalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eloginvalidation</servlet-name>
    <url-pattern>/Eloginvalidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginval</display-name>
    <servlet-name>Loginval</servlet-name>
    <servlet-class>Loginval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginval</servlet-name>
    <url-pattern>/Loginval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log</display-name>
    <servlet-name>Log</servlet-name>
    <servlet-class>Log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request</display-name>
    <servlet-name>Request</servlet-name>
    <servlet-class>Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/Request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prequests</display-name>
    <servlet-name>prequests</servlet-name>
    <servlet-class>prequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prequests</servlet-name>
    <url-pattern>/prequests</url-pattern>
  </servlet-mapping>
</web-app>